.product {
    .flex {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__img-container {
        text-align: center
        ;
        &__img {
            width: 235px;
            margin-bottom: 20px;
        }
    }

    &__description {
        margin-bottom: 10px;
    }

    &__downloads {
        font-weight: 700;
        color: $neutrals-8;
        margin-bottom: 30px;
    }

    .button {
        width: 100%;
        text-align: center;
    }

    .button:first-of-type {
        margin-bottom: 10px;
    }
}

.product-tablet-portrait {
    display: none;
}

.product-tablet-landscape {
    display: none;
}

/* TABLET PORTRAIT - 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .product-mobile {
        display: none;
    }

    .product-tablet-portrait {
        display: block;

        .product-flex {
            justify-content: space-between;
            gap: 30px;
            align-items: center;
            margin-bottom: 30px;

            .left {
                width: auto;

                .product__downloads {
                    margin-bottom: 0;
                }
            }

            .product__img-container__img {
                width: 50%;
                max-width: 335px;
            }
        }

        .buttons {
            margin: 0;
            gap: 10px;
            //justify-content: center;

            .button {
                margin: 0;
                width: 50%;
            }
        }
    }
}

/* TABLET PORTRAIT - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .product-tablet-portrait {
        display: none;
    }

    .product-tablet-landscape {
        display: flex;
        justify-content: center;
        gap: 30px;

        .left {
            max-width: 499px;

            .flex {
                justify-content: flex-start;
                gap: 10px;
            }

            .buttons {
                .button {
                    width: 50%;
                }
            }
        }

        .product__img-container {
            width: auto;
            min-width: 335px;

            &__img {
                width: 335px;
            }
        }
    }
}

/* DESKTOP - 1280PX */
@media screen and (min-width: $desktop-1) {
    .product-tablet-landscape {
        gap: 112px;

        .left {
            .product-flex {
                gap: 20px;
            }
        }
    }
}