.center {
    text-align: center;
}

.desktop {
    display: none !important;
}

@media only screen and (min-width: $desktop-1) {
    .mobile {
        display: none;
    }
    
    .desktop {
        display: block !important;
    }
}