.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-align {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

/* TABLET PORTRAIT - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .flex-tablet-landscape {
        display: flex;
    }
}

@media only screen and (min-width: 1280px) {
    .flex-desktop {
        display: flex;
    }
}