$border-radius-small: 10px;
$border-radius-big: 20px;

$icon-margin-button: 7px;
$icon-margin-button-hover: 12px;
$icon-margin-tag: 7px;

/* SCREEN SIZES */
$tablet-portrait: 768px;
$tablet-landscape: 1024px;

$desktop-1: 1280px;
$desktop-2: 1366px;
$desktop-3: 1440px;
$desktop-4: 1536px;
$desktop-5: 1600px;
$desktop-hd: 1920px;
$desktop-qhd: 2560px;
$desktop-4k: 3840px;