//ITEM
$border-item: 1px solid $neutrals-4;

//ADMIN ITEM
$border-admin-item: 2px solid $neutrals-2;
$border-admin-item-selected: 2px solid $primary-color !important;

//ADMIN ADMINS
$border-admin-admins: 5px solid $primary-color;

//NAV ACTIVE
$border-nav-active: 2px solid $primary-color;



//INPUT
$border-input: 1px solid $neutrals-5;

//BUTTONS
$border-button-tertiary: 1px solid $primary-color;