.application-line {
    width: 100%;
    height: 1px;
    background-color: $neutrals-5;
    border: none;
}

.user-menu-line {
    background-color: $neutrals-5;
    border: none;
    height: 1px;
}

.footer-line {
    margin-top: 30px;
}

.search-line {
    height: 1px;
    border: none;
    background-color: $neutrals-5;
}

.admin-add-line {
    height: 1px;
    border: none;
    background-color: $neutrals-5;
}