.addVoucher {
    .voucher-content {
        border-right: $border-input;
        padding-right: 30px;

        .admin-add-line {
            margin-bottom: 30px;
        }

        &__content {
            .flex {
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                margin-bottom: 20px;
                max-width: 100%;

                .flex-column {
                    width: 100%;
                    justify-content: flex-start;
                    gap: 5px;

                    label {
                        font-family: $primary-font;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 14px;
                    }

                    .input {
                        font-family: $primary-font;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        padding: 8px 20px;
                        color: $neutrals-8;
                        border-radius: $border-radius-small;
                        border: $border-input;
                    }

                    .input::placeholder {
                        color: $neutrals-5;
                    }

                    textarea {
                        height: 112px;
                        resize: none;
                    }
                }

                .productName {
                    margin-bottom: 20px;
                }

                .productImg {
                    height: 149px;

                    .input {
                        height: 130px;
                    }
                }

                .sortDiscount {
                    width: 177px;
                }

                .percentage {
                    width: 100px;
                }

                .piecesFrom {
                    width: 100px;
                }
            }

            .description-row {
                margin-bottom: 30px;
            }

            .buttons {
                justify-content: flex-end;
                gap: 10px;
                margin-bottom: 50px;
            }
        }
    }
}