.nav-admin {
    background-color: $neutrals-7;
    padding: 50px 0px 0px 0px;
    border-radius: 0px 20px 20px 0px;
    position: fixed;
    width: 338px;
    height: 100vh;

    &__menu {
        padding: 0px 20px;
        width: 100%;

        .center {
            margin-bottom: 40px;
        }

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            list-style-type: none;

            a {
                margin-bottom: 10px;
                border-radius: $border-radius-small;

                li {
                    text-align: left;
                    font-family: $primary-font;
                    font-size: 20px;
                    font-weight: 700;
                    color: $neutrals-1;
                    padding: 15px 20px;

                    i {
                        margin-right: $icon-margin-button;
                        width: 23px;
                    }
                }
            }

            .active {
                background-color: $neutrals-8;
            }
        }
    }

    &__bottom {
        width: 100%;

        &__user {
            gap: 10px;
            align-items: center;
            padding: 0px 20px 15px 20px;

            &__picture {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                object-fit: cover;
            }

            .p {
                font-size: 20px;
                color: $neutrals-1;
                font-weight: 700;
            }
        }

        &__logout {
            background-color: $neutrals-8;
            height: 80px;
            color: $primary-color;
            text-align: center;
            display: block;
            width: 100%;
            line-height: 80px;
            font-family: $primary-font;
            font-size: 20px;
            font-weight: 700;
        }
    }
}